<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover"
    />
    <link rel="dns-prefetch" href="<%- host %>" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <% for (var i in cdn.css) { %>
    <link href="<%= cdn.css[i] %>" rel="preload" as="style" />
    <link href="<%= cdn.css[i] %>" rel="stylesheet" />
    <% } %>
    <title><%- title %></title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
    <!-- 使用CDN加速的JS文件 -->
    <% for (var i in cdn.js) { %>
    <script src="<%- cdn.js[i] %>"></script>
    <% } %>
  </body>
</html>
